node_modules
**/node_modules
dist
**/dist
build
**/build
.turbo
coverage
**/coverage
*.log
npm-debug.log*

.git
.gitignore
.github

.env
.env.*
!.env.example
!.env.*.example

.DS_Store
*.tsbuildinfo

infra/docker/volumes
infra/nginx/certs

.vscode
.idea

**/*.md
